<div class="right-content" [@amenitiesanimations]=currentState>
  <div class="new-btn">
    <ul>
      <li>
        <a href="#">New Appointment</a>
      </li>
      <li>
        <a href="#" class=" cross" (click)="hideMenu()">&#10005;</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h4>DISCLAIMER</h4>
      <div class="doctor-selection">
        <select>
          <option value="0">Select your doctor:</option>
          <option value="1">Dr. Keshav Menon</option>
          <option value="2">Dr. Shahin Ahammed</option>
          <option value="3">Dr Lijo Bose</option>
        </select>
      </div>
    </div>
  </div>
  <div class="disclaimer">
    <h4>DISCLAIMER</h4>
    <div class="row">
      <div class="col-sm-12">
        <h5 class="medical-attention">
          DO NOT USE THIS FORM IF YOU ARE SEEKING URGENT OR EMERGENCY
          MEDICAL ATTENTION
        </h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <P class="cure">If you are experiencing chest pain, sudden or series pain,
        bleeding or other serious compilations, call <b> 911</b> or got to
        the nearest emergency room</P>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p class="symptoms">
        If you have feeling of wanting to harm yourself or someone else,
        call
        <b>911</b> or Suicide Prevention Crisis Line at
        <b>1-800-784-2433</b>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p class="terms">
        By clicking the continue button i acknowledge that i have read
        and understand the above notice.
      </p>
    </div>
  </div>
  <hr />
  <button class="btn btn-primary">Continue</button>
</div>