<div class="login-container">
  <div class="login-top-bar"></div>
  <div class="login-header">
    <h3>Login</h3>
    <div class="divider"></div>
  </div>
  <form [formGroup]="loginForm">
    <div class="login-form p-4">
      <div>
        <mat-form-field class="w-100">
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
              Please enter your email
            </mat-error>
            <mat-error *ngIf="loginForm.controls['email'].hasError('email')">
              Invalid email
            </mat-error>
      
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="w-100">
          <input matInput type="password" placeholder="Password" formControlName="password">
          <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
              Please enter password
            </mat-error>
        </mat-form-field>
      </div>
    </div>
      <div class="login-button pr-4">
        <div *ngIf="loading" id="loading"></div>
        <button (click)="login()" >Login</button>
      </div>
    </form>

</div>
