<div class="left-tool">
  <ul>
    <li style="padding-bottom: 50px;">
      <a href="#"><i class="fa fa-phone fa-rotate-180"></i></a>
    </li>
    <li>
      <a href="#"><span class="glyphicon glyphicon-plus-sign"></span></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-suitcase"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-user"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-comments"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-file"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-phone "></i></a>
    </li>
    <li style="padding-top: 80px;">
      <a href="#"><i class="fa fa-bell"></i></a>
    </li>
    <li>
      <a href="#"><span class="glyphicon glyphicon-user"></span></a>
    </li>
  </ul>
</div>